@keyframes arr {
  from {
    transform: translateX(calc(-50% - 4px));
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes underline {
  from {
    inline-size: 0;
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes heart {
  from {
    scale: 1;
  }
  50% {
    scale: 1.22;
  }
  to {
    scale: 1;
  }
}

@keyframes heart-sparks {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
